@-moz-document regexp("moz-extension://.*/sidebar/sidebar.html.*") {
:root {
  --tab-surface: #353945 !important;
  --tab-surface-active: #5294e2 !important;
  --tab-surface-hover: #262b36 !important;
  --tab-surface-active-hover: #3c86de !important;
  --tab-text: #d8d8d8 !important;
  --tab-text-active: #fff !important;
  --tab-text-hover: var(--tab-text-active) !important;
  --tab-border: #000 !important; }

#tabbar {
  background: #262b36 !important; }

.tab.discarded {
  opacity: 0.75 !important; }

.tab:hover span {
  --tab-text: #fff !important; }
}
