@-moz-document url(chrome://browser/content/browser.xhtml) {
.toolbarbutton-badge {
  background-color: #5294e2 !important; }

.findbar-textbox[focused='true'] {
  border-width: 1px !important; }

.findbar-find-previous,
.findbar-find-next {
  background: none !important; }

.findbar-button .toolbarbutton-text {
  background: none !important; }

.findbar-button:hover,
.findbar-button[checked='true'] {
  background: #2f343f !important; }
  .findbar-button:hover .toolbarbutton-text,
  .findbar-button[checked='true'] .toolbarbutton-text {
    color: #fff !important;
    background: #2f343f !important; }

#navigator-toolbox .show-only-for-keyboard:not([hidden='true']) {
  display: -moz-box !important; }

#navigator-toolbox > toolbar:not(#toolbar-menubar):not(#TabsToolbar) {
  background-image: none !important; }

.private-browsing-indicator {
  margin: 0 !important; }

.private-browsing-indicator,
#tabbrowser-tabs,
#new-tab-button,
.tabs-alltabs-button {
  background-color: #353945 !important; }

.tab-background[selected='true'] {
  background-image: none !important; }

.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
.tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
  background-image: none !important; }

.tabbrowser-arrowscrollbox > .scrollbutton-down,
.tabbrowser-arrowscrollbox > .scrollbutton-up {
  border-right: 1px solid #262b36; }

#TabsToolbar,
#sidebar-box[sidebarcommand^='treestyletab'] > #sidebar-header {
  visibility: collapse !important; }
}
